@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar_top {
  width: 100%;
  height: 60px;
  background-color: #ECF0FB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_top_contact {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar_top_contact_item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #05092B;
  font-size: 16px;
}
.navbar_top_contact_icon {
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.navbar_top_social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar_top_social_item {
  color: #05092B;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.navbar_top_social_item:hover {
  color: #351EE0;
}

.navbar_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 90px;
  color: #05092B;
}
.navbar_bottom_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
}
.navbar_bottom_menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 460px) {
  .navbar_bottom_menu {
    display: none;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .navbar_bottom_menu {
    display: none;
  }
}
.navbar_bottom_menu_item {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.navbar_bottom_menu_item:hover {
  color: #351EE0;
}
.navbar_bottom_btn {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all 0.1s ease-in-out;
  border: 1px solid #351EE0;
  position: relative;
  z-index: 10;
}
.navbar_bottom_btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  transition: all 0.2s ease-in-out;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 1;
}
.navbar_bottom_btn:hover {
  border: 1px solid #351EE0;
  background: white;
  color: #351EE0;
}
.navbar_bottom_btn:hover::after {
  opacity: 0;
}

.navbar_link {
  text-decoration: none;
  color: #05092B;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.navbar_link:hover {
  color: #351EE0;
}

.hero_breadcrumb {
  height: 350px;
  background: url(../../assests/heroBG.jpg) no-repeat center center;
  position: relative;
}
.hero_breadcrumb_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #05092B;
  z-index: 100;
  color: #FFFFFF;
}
.hero_breadcrumb_content_title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}
.hero_breadcrumb_content_breadcrumb {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hero_breadcrumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 350px;
  width: 100%;
  background-color: #05092B;
  opacity: 0.4;
}

.breadCrumb_link {
  text-decoration: none;
  color: #FFFFFF;
}

.services {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 460px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services_card {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.services_card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background: #F9F9F9;
  padding: 15px;
  border-radius: 100%;
  position: relative;
}
.services_card .services_card_icon::before {
  color: white;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  opacity: 0;
}
.services_card:hover .services_card_icon::before {
  opacity: 1;
}
.services_card:hover .service_icon {
  filter: brightness(1) invert(1);
}
.services_card .service_icon {
  width: 45px;
  filter: brightness(0);
}
.services_card_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #05092B;
}
.services_card_text {
  font-size: 18px;
  line-height: 30px;
  color: #737373;
}

.footer {
  background-color: #05092B;
  position: relative;
}
.footer_menu {
  padding-top: 160px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1254901961);
}
.footer_menu_content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer_menu_content_logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
}
.footer_menu_content_logo_img {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #FFFFFF;
  font-size: 25px;
}
.footer_menu_content_logo_text {
  color: #FFFFFF;
  opacity: 0.8;
  font-weight: 400;
}
.footer_menu_content_logo_follow {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}
.footer_menu_content_logo_item {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 600;
}
.footer_menu_content_logo_item_icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
}
.footer_menu_content_contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_menu_content_contact_title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
}
.footer_menu_content_contact_item {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 15px;
}
.footer_menu_content_contact_icon {
  color: #351EE0;
}
.footer_menu_content_links {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_menu_content_links_title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.footer_menu_content_links_item {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  opacity: 0.8;
}
.footer_menu_content_links_icon {
  color: #351EE0;
}
.footer_menu_content_news {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_menu_content_news_title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.footer_menu_content_news_item {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.footer_menu_content_news_item_date {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}
.footer_menu_content_news_item_icon {
  color: #351EE0;
}
.footer_menu_content_news_item_text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}
.footer_copyright {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_copyright_text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.7;
}
.footer_copyright_menu {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 0.7;
  cursor: pointer;
}
.footer_left_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.footer_right_img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.newsletter {
  background-color: #FFFFFF;
  box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 40px;
  position: relative;
  height: 346px;
  top: 100px;
  z-index: 10;
}
.newsletter_imgContainer {
  flex: 1;
}
.newsletter_img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.newsletter_content {
  flex: 1;
}
.newsletter_content_text {
  font-size: 45px;
  font-weight: 800;
  color: #05092B;
  text-transform: capitalize;
}
.newsletter_content #connected {
  color: #351EE0;
}
.newsletter_content_btn {
  border: 1px solid #351EE0;
  color: #05092B;
  font-weight: 700;
  padding: 10px 30px;
  background: #FFF;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 230px;
}
@media screen and (min-width: 1521px) {
  .container {
    padding: 0 180px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1520px) {
  .container {
    padding: 0 130px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 100px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 460px) {
  .container {
    padding: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */